.wrapper {
    margin: 50px;
    /* background: green; */
}

.box {
    background: red;
    width: 200px;
    height: 200px;
}

.slider {
    background: blue;
    width: 180px;
    height: 200px;
    display: none;
}